<h3>楽曲別スコア情報</h3>

<div>
  <% @infos.each do |info| %>
    <div class="page-header">
      <h4><%= info[:title] %></h4>
    </div>
    <div class="bs-example table-responsive">
      <table class="table table-striped table-hover ">
        <tbody>
          <% info[:mode].each do |mode| %>
            <tr class="<%= get_difficulty_text(mode) %>">
              <td><span class="label <%= get_difficulty_label(mode) %>"><%= info[mode][:star] %></span></td>
              <td><img src="<%= info[mode][:detail][:image] %>" width="25" height="26" border="0"></td>
              <td><%= info[mode][:detail][:rate] %></td>
              <td><%= info[mode][:detail][:point] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>


<%= link_to 'INFO MORE...', { :controller => 'infos', :action => 'call_add_info' }, :remote => true, :'data-type' => :html, :class => 'ajax_link' %>

<div id="more_info" style="margin: 20px 0">
</div>
 
<script>
$(function () {
  $(document).on('ajax:success', 'a.ajax_link', function (ujs, content, status, xhr) {
    console.log('success');
    $('#more_info').append(content);
  });

});
</script>
