<h3>楽曲別スコア情報</h3>
<!--
<div>
  <% @infos.each do |info| %>
    <div class="page-header">
      <h4><%= info[:title] %></h4>
    </div>
    <div class="bs-example table-responsive">
      <table class="table table-striped table-hover ">
        <tbody>
          <% info[:mode].each do |mode| %>
            <tr class="<%= get_difficulty_text(mode) %>">
              <td><span class="label <%= get_difficulty_label(mode) %>"><%= info[mode][:star] %></span></td>
              <td><img src="<%= info[mode][:detail][:image] %>" width="25" height="26" border="0"></td>
              <td><%= info[mode][:detail][:rate] %></td>
              <td><%= info[mode][:detail][:point] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
-->
<div id="hoge"><div>

<script type='text/javascript'>
  $(function(){
    // ページロード時
    $( document ).ready( function(){
      // "call_ajax" というメソッドを呼び出し
      // ( 本質は URL の指定です。場合によってはパスが必要です。 )
      $.get( "/infos/call_ajax" ,
      function( d ){
        // 値を指定の位置に設定
        $( '#hoge' ).text( d.hoge );
      });
    });
  });
</script>
