<h1>Listing infos</h1>
<!--
<table class="" border="1">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td colspan="4"><%= info[:title] %></td>
      </tr>
      <% info[:mode].each do |mode| %>
        <tr>
          <td><%= mode %> <%= info[mode][:star] %></td>
          <td><img src="<%= info[mode][:detail][:image] %>" width="25" height="26" border="0"></td>
          <td><%= info[mode][:detail][:rate] %></td>
          <td><%= info[mode][:detail][:point] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
-->
<div class="pallete-item">
    <% @infos.each do |info| %>
      <dl class="pallete palette-turquoise">
        <dt><%= info[:title] %></dt>
        <% info[:mode].each do |mode| %>
          <dd><%= mode %> <%= info[mode][:star] %></dd>
          <dd><img src="<%= info[mode][:detail][:image] %>" width="25" height="26" border="0"></dd>
          <dd><%= info[mode][:detail][:rate] %></dd>
          <dd><%= info[mode][:detail][:point] %></dd>
        <% end %>
      </dl>
    <% end %>
</div>
